:root { 
--black_900_7f:#0000007f; 
--gray_600_99:#80808099; 
--black_900_7e:#0000007e; 
--black_900_b2:#000000b2; 
--red_600:#ee3945; 
--light_blue_700:#0074d9; 
--green_A100:#99f2c8; 
--black_900_3f:#0000003f; 
--green_500_99:#4caf5099; 
--white_A700_33:#ffffff33; 
--teal_500:#03a895; 
--black_900:#000000; 
--red_A400:#ff2020; 
--light_blue_A700:#0070ff; 
--blue_gray_900_01:#1f4037; 
--deep_orange_500:#ff5733; 
--blue_gray_900:#212b36; 
--red_A700_99:#ff000099; 
--deep_purple_A700:#4200ff; 
--amber_700_99:#ffa50099; 
--black_900_26:#00000026; 
--gray_600:#808080; 
--blue_gray_100:#d9d9d9; 
--gray_900:#1c1b1f; 
--blue_gray_300_87:#919eab87; 
--black_900_0f:#0000000f; 
--teal_500_01:#01aa95; 
--yellow_A700_99:#ffd70099; 
--black_900_0c:#0000000c; 
--gray_800_99:#3c3c4399; 
--gray_600_26:#80808026; 
--blue_500_99:#2196f399; 
--gray_300:#dfe3e8; 
--gray_100:#f7f7f7; 
--black_900_33:#00000033; 
--blue_gray_100_4c:#d9d9d94c; 
--white_A700:#ffffff; 
--light_green_500_99:#9acd3299; 
--red_A200_99:#ff696199; 
}